List((
    texture_width: 96,
    texture_height: 96,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 32,
            height: 32
        ),
        (
            x: 0,
            y: 32,
            width: 64,
            height: 64
        ),
        (
            x: 32,
            y: 0,
            width: 16,
            height: 2
        ),
        (
            x: 64,
            y: 32,
            width: 32,
            height: 32
        ),
    ]
))